<!--Dashboard-->
<li class="active">
    <a href="index.html">
        <i class="menu-icon glyphicon glyphicon-home"></i>
        <span class="menu-text"> Dashboard </span>
    </a>
</li>
<!--Locations-->
<li>
    <a href="/admin/locations">
        <i class="menu-icon fa fa-street-view"></i>
        <span class="menu-text"> Locations </span>
    </a>
</li>
<!--Taps-->
<li>
    <a href="/admin/taps">
        <i class="menu-icon fa fa-spoon"></i>
        <span class="menu-text"> Taps </span>
    </a>
</li>
<!-- Account -->
<li>
    <a href="/admin/account">
        <i class="menu-icon fa fa-building"></i>
        <span class="menu-text"> Account </span>
    </a>
</li>