{% extends '@App/admin/tap/list.html.twig' %}

{% block body %}
    <form class="form-horizontal" role="form" action="{{ path('saveTap') }}" method="post">
        <div class="form-group">
            <label for="tap_name" class="col-sm-2 control-label no-padding-right">Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="tap_name" name="tap_name" value="{{ tap.getName() }}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" name="save" class="btn btn-default">Save</button>
                <button type="submit" name="add_beers" class="btn btn-default">Add Beers</button>
            </div>
        </div>
        <input type="hidden" name="tap_id" value="{{ tap.id }}"/>
    </form>
{% endblock %}