{% extends 'Admin/admin.html.twig' %}
{% block page_header  %}
<h1>Here's whats on tap</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">Here it is yo!</div>
    </div>
    {{ dump(beerData) }}
{% endblock %}